.container {
  margin-left: 10px;
}

.title {
  padding-left: 20px;
  color: #00c3ff;
}

.movieList{
  list-style: none;
  text-decoration: none;
}
.movieLink{
  text-decoration: none;
  /* color: rgb(0, 174, 255); */
}