.nav {
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: 5px; */
/* border-bottom: 1px solid black; */
  /* margin-bottom: 20px; */
}

.nav a {
  padding: 10px;
    margin-right: 10px;
  text-decoration: none;
  color: black;
  background-color: rgba(216, 212, 212, 0.945);
  border-radius: 5px;

}    
.nav a active {
    color: orange;
     background-color: black;
  }

.navButton {
  margin-left: 20px;
  padding: 10px;
 
}
